<div class="row">
    <div class="colxs-12">
        <p>Add New Server or Blueprint</p>
        <label for="servername">Server Name</label>
        <input type="text" id="servername" class="form-control" [(ngModel)]="newServerName">

        <label for="servercontent">Server Content</label>
        <input type="text" id="servercontent" class="form-control" [(ngModel)]="newServerContent">

        <br>
        <button class="btn btn-primary" (click)="onAddServerHandler()">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprintHandler()">Add Blueprint</button>
    </div>
</div>

<div class="row">
    <div class="colxs-12">

    </div>
</div>